/* *{
    margin: 0;
    padding: 0;
} */

header{
    background-color: linear-gradient (45deg, grey,black);
    background-attachment: fixed;
}

#principal{
    text-align: center;
    
}



footer{
    background-color: #BCBCBC;
    height: 320;
    position: end;
}