*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #D7D7D7;
}

.historia{
    font-size: 20px;
    background-color: white;
    text-align: justify;
    width: 900px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

header{
    text-align: center;
    width: 100%;
    
}

#anos{
    background-color: #D76565;
    width: 190px;
    height: 600px;
    margin-top: 15x;
    margin-bottom: 15px;
    border: black 2px solid;
}

.noticias{
    color: rgb(132, 0, 0);
    margin-top: 25px;
    
}

img{
    width: 920px;
    height: 500px;
}

.historia{
    background-color: white;
    font-size: 20px;
    width: 900px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}


#not{
    margin-top: 15x;
    margin-bottom: 15px;
    border: black 2px solid;
    font-size: 20px;
}

section{
    background-color: #ce74746f;
    width: 400px;
    height: 630px;
}



 
.navbar {

    background-color: #f8f8f8; /* Cor de fundo roxa */

    padding: 10px 20px;

    display: flex;

    justify-content: center;
    position: absolute;
    margin-top: 30px;

}
 
.menu {

    display: flex;
    font-size:  30px;

    gap: 22px; /* Espaço entre os itens */

}
 
.menu a {

    color: rgb(0, 0, 0);

    text-decoration: none;

    font-weight: bold;

    transition: 0.3s;

}
 
.menu a:hover {

    text-decoration: underline;

}

<<<<<<< HEAD
 
=======
button{
    font-size: 25px;
    padding: 5px;
    border-radius: 10px;
}

/* Barra de navegação */
.navbar {
    
    padding: 10px 20px;
}

/* Container para alinhar os itens */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilização do lado esquerdo */
.left {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

/* Estilização do lado direito (links) */
.right {
    display: flex;
    gap: 50px;
}

/* Links */
.right a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    padding: 30PX;
    align-items: center;
    font-weight: bold;
    transition: 0.3s;
}

.right a:hover {
    text-decoration: underline;
}
>>>>>>> 6a427d759c277ece417239a0f937d669c8cbab3e

.compras.nav{

    width: 200px;
    background-color: #D76565;

}