*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(151, 8, 8);
    text-align: center;
    
}

#principal{
    text-align: justify;
    width: 700px;
    
}

.noticias{
    color: red;
}

footer{
    text-align: center;
    background-color: #BCBCBC;
    height: 320;
    position: end;
    margin: 0;
}