*{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    height: 100px;
    background-color: red;
}

main{
    width: 100%;
    display: inline-block;
    background-color: rgb(151, 55, 55);
}

.fichaTecnica{
    width: 50%;
    display: inline-block;
    background-color: rgb(250, 250, 250);
    border: 4px black solid;
    border-radius: 9px;
    width: 800px;
    margin-right: 20px;
    margin-left: 15px;
    text-align: justify;
    padding: 15px;
    
}

.produtos{
    display: inline-block;
    

}

h1, p{
    display: inline-block;

}

.camisafechada{
    border: 3px black solid;
    text-align: justify;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 20px;

}

.nomecamisa{
    text-align: start;
    

}

.produtos{
    border-radius: 4px;
    background-color: rgb(216, 213, 210);
    margin: auto;
    justify-content: space-around;
}
.sal{
    justify-content: space-around;
    text-align: center;
    margin:auto;
}